# protection de l'accès
AuthType Basic
# AuthUserFile "/home/formule1/www/admin/.htpasswd"
AuthUserFile "C:\Users\rara8\Desktop\F1-New\admin\.htpasswd"
AuthName "Administration"
Require valid-user

# protection du fichier .htpasswd
<Files ".htpasswd">
    Require all denied
</Files>




